{% extends "AppBundle::adminlayout.html.twig" %}

{% block body %}
<div class="row">
  <div class="col-lg-8">
	<section class="panel">
	  <header class="panel-heading">Editar usuario</header>
	  <div class="panel-body">
		{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
	  </div>
	</section>
  </div>
</div>
{% endblock %}
