{% extends "AppBundle::adminlayout.html.twig" %}

{% block body -%}
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
      <section class="panel">
          <div class="panel-body">

              {{ form_rest(filter) }}
              
          </div>
      </section>
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-md-12 mg-b-lg">


  </div>
</div>
{% endblock %}
