{% extends "AppBundle::adminlayout.html.twig" %}

{% block body -%}
  <div class="row">
    <div class="col-md-12 mg-b-lg">
      <a href="{{ path('estudiante_new') }}" class="btn btn-success">
        {% trans %}students_create_new{% endtrans %}
      </a>
    </div>
    <div class="col-md-7">
      {% include 'AppBundle:Estudiante:_studentList.html.twig' with {'entities' : entities, 'links' : links, 'title' : title } %}
    </div>
    {% include 'AppBundle:Estudiante:_studentFilter.html.twig' with {'filter' : filter, 'url' : links['filter'], 'reseturl' : links['base'] } %}
  </div>



{% endblock %}
